<!-- *** orderHistoryView *** -->

<div id="page-start"></div>

<section class="uk-section uk-padding-remove uk-margin-large">
	<div class="uk-container">
		<!-- page-title start -->
		<!-- ================ -->
		<div class="uk-text-center">
			<h3 class="uk-heading uk-text-uppercase uk-text-muted uk-margin-small">Order number {{order.ExternalID}}</h1>
			<h2 class="uk-heading uk-text-uppercase uk-margin-small">YOUR ORDER HAS BEEN RECEIVED</h1>
			<div class="uk-divider-small"></div>
			<h5 class="uk-heading uk-text-uppercase uk-text-muted">Patients should receive their IBDoc test kit via the Royal Mail Tracked 24 service</h5>
            <p class="">Orders received before 2:30pm will be despatched on the same day</p>
            <div class="uk-margin">
                <img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/alpha-labs/ibdoc-post.png" />
            </div>
			<div class="uk-divider-small"></div>
            <button ng-click="newOrder()" class="uk-button uk-button-primary">ORDER ANOTHER IBDOC KIT</button>
		<!-- page-title end -->
	</div> <!-- container end -->
</section> <!-- main container end -->
