<!-- *** checkOutView *** -->
<section uk-height-viewport="expand: true" class="uk-section uk-background-muted uk-padding">
	<div class="uk-container">
		<div class="uk-card uk-card-small uk-card-default uk-align-center uk-width-2-5">
			<div class="uk-card-body uk-cover-container">
				<img id="451_img_prod_lg" ng-src="{{currentOrder.LineItems[0].Product.LargeImageUrl}}" imageonload />
				<div class="uk-margin-small">
					<p class="uk-badge uk-padding-small uk-label-warning uk-text-normal">
						Quantity available: {{currentOrder.LineItems[0].Product.QuantityAvailable}}
					</p>
				</div>
				<ordershipping />
				<orderbuttons ng-show="shipAddressObject && !showAddressButtons" view="checkout" continue="true"></orderbuttons>
			</div>
		</div>
	</div>
</section>