<!-- *** addressInput *** -->
<div id="address-modal" class="uk-modal" container="#modal-parent">
  <div class="uk-modal-dialog">
      <div class="uk-modal-header">
          <h2 ng-show="!$parent.shipAddressObject.IsEditing" class="uk-margin-remove uk-text-danger" style="font-size:1.7rem">Address not found for patient {{$parent.shipAddressObject.PatientID}}</h2>
          <h2 ng-show="$parent.shipAddressObject.IsEditing" class="uk-margin-remove uk-text-danger" style="font-size:1.7rem">Editing address for patient {{$parent.shipAddressObject.PatientID}}</h2>
      </div>
    <form class="" id="address_edit" name="addressEdit" ng-submit="save()">
      <div class="uk-modal-body">
        <h4 ng-show="!$parent.shipAddressObject.IsEditing" class="uk-margin-remove-top">Please create a new address</h4>
        <h4 ng-show="$parent.shipAddressObject.IsEditing" class="uk-margin-remove-top">Please update the address</h4>
        <div class="uk-margin-small uk-width-1-5" hidden>
                  <label class="uk-form-label" for="addressname">Patient ID</label>
                  <div class="uk-form-controls">
                      <input id="addressname" class="uk-input" name="addressname" type="text" ng-disabled="true" value="{{$parent.shipAddressObject.PatientID}}" />
                  </div>
              </div>
              <div class="uk-margin-small uk-width-2-5">
                  <label class="uk-form-label" for="firstname">First name   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls">
                      <input id="firstname" class="uk-input" name="firstname" type="text" ng-model="$parent.shipAddressObject.FirstName" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small uk-width-2-5">
                  <label class="uk-form-label" for="lastname">Last name   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls">
                      <input id="lastname" class="uk-input" name="lastname" type="text" ng-model="$parent.shipAddressObject.LastName" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small">
                  <label class="uk-form-label" for="address1">Address 1   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls">
                      <input id="address1" class="uk-input" name="address1" type="text" ng-model="$parent.shipAddressObject.Street1" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small">
                  <label class="uk-form-label" for="address2">Address 2   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls">
                      <input id="address2" class="uk-input" name="address2" type="text" ng-model="$parent.shipAddressObject.Street2" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small">
                  <label class="uk-form-label" for="address3">Address 3   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls">
                      <input id="address3" class="uk-input" name="address3" type="text" ng-model="$parent.shipAddressObject.City" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small">
                  <label class="uk-form-label" for="address4">Address 4</label>
                  <div class="uk-form-controls">
                      <input id="address4" class="uk-input" name="address4" type="text" ng-model="$parent.shipAddressObject.State" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small uk-margin-remove-bottom">
                  <label class="uk-form-label" for="postcode">Postcode   <span class="uk-text-meta uk-text-danger">*required</span></label>
                  <div class="uk-form-controls uk-width-1-5">
                      <input id="postcode" class="uk-input" name="postcode" type="text" ng-model="$parent.shipAddressObject.Zip" autocomplete="off" />
                  </div>
              </div>
              <div class="uk-margin-small" hidden>
                  <div ng-class="{'view-form-select': !address.Country, '': address.Country }">
                      <label class="uk-form-label" for="country">Country</label>
                      <div class="uk-form-controls uk-width-medium">
                          <select id="country" name="country" class="uk-input" ng-options="country.value as country.label for country in countries" ng-model="$parent.shipAddressObject.Country"  autocomplete="off" />
                      </div>
                  </div>
              </div>
      </div>
      <div class="uk-modal-footer uk-padding-small">
        <button class="uk-button uk-button-default uk-margin-right uk-modal-close uk-float-left" type="button" ng-click="cancel()">Cancel</button>
        <button class="uk-button uk-button-primary uk-float-right" type="submit" ng-disabled="addressEdit.$invalid" id="451_uk-button_user">
          <i ng-show="addressEdit.$invalid" class="fa fa-warning"></i>
          Save patient address
        </button>
      </div>
    </form>
  </div>
</div>