<!-- *** checkoutButtons *** -->

<!-- ================================================= -->
<div ng-show="currentOrder.ShipAddressID && showOrderConfirmationButtons">
	<div class="uk-float-left">
	<button class="uk-button uk-button-small uk-button-primary"
					ng-class="{'uk-button-warning': cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked, 'uk-button-primary': !cart_shipping.$invalid && !cart_order.$invalid && !cart_billing.$invalid || !submitClicked }"
					ng-click="submitOrder()" ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked">
					<span>Send IBDoc test kit to patient</span>
			</button>
	</div> <!-- row end -->

	<!-- ================ -->
	<div class="uk-float-right">
	<button type="button" class="uk-button uk-button-small uk-button-danger" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()">
		<span>Cancel this request</span>
	</button>
	</div> <!-- row end -->
</div>