<!-- *** orderShipping *** -->
<div name="cart_shipping">

	<!-- *** addressSearch *** -->
	<largeshipaddresssearch></largeshipaddresssearch>

	<!-- *** addressInput modal - hidden by default *** -->
    <addressinput id="modal-parent" address='shipaddress' user='user'></addressinput>

	<!-- *** Display selected address *** -->
	<div ng-show="shipAddressObject.AddressName" class="uk-margin">
		<h3 class="uk-margin-remove"><strong>Patient ID: {{shipAddressObject.PatientID}}</strong></h3>
		<p class="uk-margin-remove">{{shipAddressObject.FirstName + ' ' + shipAddressObject.LastName}}</p>
		<p class="uk-margin-remove">{{shipAddressObject.Street1}}</p>
		<p class="uk-margin-remove">{{shipAddressObject.Street2}}</p>
		<p class="uk-margin-remove">{{shipAddressObject.City}}</p>
		<p class="uk-margin-remove">{{shipAddressObject.State}}</p>
		<p class="uk-margin-remove">{{shipAddressObject.Zip}}</p>
		<!-- *** <p class="uk-margin-small">Telephone: {{shipAddressObject.Phone}}</p> *** -->
	</div>

	<!-- *** Display address buttons *** -->
	<div ng-show="showAddressButtons">
		<div class="uk-float-left">
			<button class="uk-button uk-button-small uk-button-primary" ng-click="confirmAddress()">Use this address</button>
		</div>
		<div class="uk-float-right">
			<button class="uk-button uk-button-small uk-button-default" ng-click="editAddress()">Edit this address</button>
		</div>
	</div>
</div>
